:root {
    --tamanhoMaximo: 100%;
}

a {
    text-decoration: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--tamanhoMaximo);
    height: 100vh;
    background-color: #F7876F;
}

.container {
    background-color: var(--color-primary);
    width: 90%;
    height: 90%;
}

