.primary-button {
    background-color: var(--color-second);
    text-decoration: none;
    color: var(--color-primary);
    border-radius: 0.5em;
    padding: 5px 12px;
    margin-right: 10px;
    border: none;
}