.simple-action {
    color: var(--color-second);
    font-family: 'comfortaa', sans-serif;
    margin-right: var(--gap-small);
}

.simple-action.-light{
    font-family: 'Bitter', serif;
    color: var(--color-base-light);
    font-size: 1.3em;
    margin-top: 0.9em;
}